.form-control:focus {
    box-shadow: none;
}

.list-group {
    overflow-y: scroll;
    height: 200px;

    // scrollbar
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 4px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #3498db;
        border-radius: 4px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #2980b9; 
    }

    .list-group-item {
        padding: 0.33rem 0.66rem;
        display: inline-block;
        margin: 0.20rem 0rem;
        border-radius: 20px;
    }
}

.userName {
    position: relative;

    .badge {
        position: absolute;
        padding: 0.33rem;
        margin: 0.4rem;
        bottom: -20px;
    }
}
